<!-- 🗨️ Komentar Giscus -->
<div id="comments" style="margin-top: 60px;">
  <script src="https://giscus.app/client.js"
          data-repo="adesansuniar/blog-adesansuniar"
          data-repo-id="YOUR_REPO_ID"
          data-category="General"
          data-category-id="YOUR_CATEGORY_ID"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-theme="light"
          data-lang="id"
          crossorigin="anonymous"
          async>
  </script>
  <noscript>
    Silakan aktifkan JavaScript untuk melihat komentar dari Giscus.
  </noscript>
</div>
