<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "name": "Layanan Jahit Custom Penjahit Alamanda",
  "serviceType": "Jahit Gamis, Seragam, Outer Batik",
  "provider": {
    "@type": "LocalBusiness",
    "name": "Penjahit Alamanda",
    "url": "https://penjahitalamanda.com",
    "image": "https://penjahitalamanda.com/assets/img/logoblogade.webp",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Tenggumung Baru Selatan Gg. V/24",
      "addressLocality": "Surabaya",
      "addressRegion": "Jawa Timur",
      "postalCode": "60153",
      "addressCountry": "ID"
    },
    "telephone": "+6288801758800"
  },
  "areaServed": {
    "@type": "Place",
    "name": "Surabaya, Jawa Timur"
  },
  "description": "Penjahit Alamanda menyediakan layanan jahit custom berkualitas tinggi untuk gamis, outer, dan seragam sekolah dengan desain eksklusif dan harga terjangkau di Surabaya."
}
</script>
